:root{
    --cor-principal: #6d8091;
    --cor-secundaria: #69ade9;
    --cor-secundaria-variante: #3b73a3;

}

.title{
    color: white;
    text-align: center;
    font-size: 45px;
    
}

body::-webkit-scrollbar { 
	display: none;
}


main{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-principal);
}

.map-mouldure{
    width: 40vh;
    height: 40vh;
    background-color: var(--cor-secundaria);
    text-align: center;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 20px var(--cor-secundaria-variante) solid;
    border-style: double;
    border-radius: 20px;
    overflow: hidden;
    

    

}


.map-image{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 90%;
    height: 60%;
    border: 2px rgb(94, 94, 94) solid;
    border-radius: 20px;
}

.map-image:hover{
    margin-top: 0px;
    height: 80%;
    width: 120%;
    transition: 300ms;
    cursor: pointer

    

}

